<!DOCTYPE html>
<html>
 <head>
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="/static/styleHome.css">
  <link rel="shortcut icon" href="../static/img/Serpent.jpg">
  <link rel="apple-touch-icon" href="../static/img/Serpent.jpg">
 </head>
 <body>
  <div id="a">
   <div id="c">
    <h1>Team Serpent's Webpage</h1>
   </div>
   <div id="e">
    <ul>
     <li><b><a class="navlink" href="/senGen/">Sentence Generator</a></b></li>
     <li><b><a class="navlink" href="/markov/">Markov Chain Text Generator</a></b></li>
     <li><b><a class="navlink" href="/ceasarcipher/letter/encrypt">Ceasar Cipher Encrypter and Decrypter</a></b></li>
    </ul>
    <br><br><br><br><br><br><br><br><br>
   </div>
   <div id="d">
    <p>Welcome to our webpage!</p><br><br><br><br><br><br><br><br><br><br><br><br>
   </div>
  </div>
  <div id="b">
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><i>Copyright 2015 &copy; Team Serpent(Daniel, Matthew, and Adris)</i><br><br>
  </div>
 </body>
</html>
